<!--Headlines----------------------------------------------------->
<section class="headline">
  <h1>{{title}}</h1>
  <p>
    <span class="stepnr" [ngClass]="{'stepnr1': step==1, 'stepnr2' : step==2, 'stepnr3' : step==3 }"><span> </span></span> 
  </p>
  <h2>{{subTitle}}</h2>
</section>


<!--STEP 1----------------------------------------------------->
<div class="formcolumnwrapper" *ngIf="step==1">

  <p class="inputtitle">An welchem Datum?</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Datum auswählen</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="booking.info_full_date" required>
    <!--   <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateFilter" #picker touchUi></mat-datepicker>
  </mat-form-field>

  <br>

  <p class="inputtitle">Um welche Uhrzeit?</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Beginn des Anlasses</mat-label>
    <input matInput [(ngModel)]="booking.info_zeit" type="time" placeholder="12:00 Uhr" value="12:00" required>
    <!-- <mat-hint>Wann wir die erste Pizza gegessen?</mat-hint> -->
  </mat-form-field>

  <br>

  <p class="inputtitle">Wieviele Tage?</p>
  <mat-slide-toggle color="primary" [(ngModel)]="booking.info_anzahl_tage">
    <span class="formtext" *ngIf="!booking.info_anzahl_tage">1 Tag</span>
    <span class="formtext" *ngIf="booking.info_anzahl_tage">2 Tage (mehr als 2 Tage auf Anfrage)</span>
  </mat-slide-toggle>
  
  <br>

  <p class="inputtitle">Wieviele Stunden pro Tag?</p>
  <!-- Example if Betatest wants Input next to slider -->
  <!-- <mat-slider class="sliderWithInput" thumbLabel tickInterval="1" step="1" min="2" max="10" aria-label="units"
    color="primary" [(ngModel)]="booking.info_dauer_anlass">
  </mat-slider>
  <mat-form-field class="inputNextToSlider">
    <input matInput type="number" [(ngModel)]="booking.info_dauer_anlass" min="2" max="10">
  </mat-form-field> -->
  <mat-slider thumbLabel tickInterval="1" step="1" min="2" max="10" aria-label="units"
    color="primary" [(ngModel)]="booking.info_dauer_anlass">
  </mat-slider>
  <br>
  <p class="formtext">
    <span [innerHtml]="booking.info_dauer_anlass"></span>
    Stunden (min. 2h, max. 10h)
  </p>
  <br><br>

  <p class="inputtitle">Wieviele erwachsene Pizzaesser?</p>
  <mat-slider thumbLabel tickInterval="1" step="5" min="20" max="600" aria-label="units" color="primary"
    [(ngModel)]="booking.info_anzahl_erwachsene" required>
  </mat-slider>
  <br>
  <p class="formtext">
    {{booking.info_anzahl_erwachsene}} Pizzaesser pro Tag
    <span *ngIf="booking.info_anzahl_tage"><br>
      {{doubleIt(booking.info_anzahl_erwachsene)}} über den gesammten Anlass
    </span>
    <br>(min. 20, max. 600 | Kapazität: max. 80 Pizza/h)
  </p>

  <br>

  <p class="inputtitle">Wieviele Kinder unter 12 Jahren</p>
  <mat-slider thumbLabel tickInterval="1" step="2" min="0" max="600" aria-label="units" color="primary"
    [(ngModel)]="booking.info_anzahl_kinder">
  </mat-slider>
  <br>
  <p class="formtext">
    {{booking.info_anzahl_kinder}} Kinder pro Tag
    <span *ngIf="booking.info_anzahl_tage"><br> {{doubleIt(booking.info_anzahl_kinder)}} über den gesammten
      Anlass</span>
  </p>

  <br>

  <p class="inputtitle">Wo findet der Anlass statt?</p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Adresse (Veranstaltungsort)</mat-label>
    <textarea matInput [(ngModel)]="booking.info_adresse_anlass" type="text" rows="4"
      placeholder="Firma/Verein XY, Poststrasse 10, 4500 Dorf" required></textarea>
  </mat-form-field>

</div>

<!--STEP 2----------------------------------------------------->
<div class="formcolumnwrapper" *ngIf="step==2">

  <section class="checkboxgroup">
    <p class="inputtitle">Ausstattung</p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_ofen" color="primary" [disabled]="true">Pizzaofen inkl. Pizzakelle und ca. 40 Blech.
      </mat-checkbox>
    </p>
  </section>

  <section class="checkboxgroup">
    <p class="inputtitle">Personal</p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_personal_pizaiolo" color="primary">Pizzaiolo</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_personal_helfer" color="primary">Helfer (Aufgaben nach Absprache)
      </mat-checkbox>
    </p>
  </section>

  <p class="inputtitle">Pizzas werden belegt durch …</p>
  <mat-radio-group name="opList" [(ngModel)]="booking.req_belegt_durch">
    <mat-radio-button color="primary" value="Catering" name="opList">Catering</mat-radio-button>
    <mat-radio-button color="primary" value="Gäste" name="opList">Gäste</mat-radio-button>
  </mat-radio-group>

  <p class="inputtitle">Transport an den Veranstaltungsort?</p>
  <mat-slide-toggle color="primary" [(ngModel)]="booking.req_transport">
    <span class="formtext" *ngIf="!booking.req_transport">Nein</span>
    <span class="formtext" *ngIf="booking.req_transport">Ja</span>
  </mat-slide-toggle>

  <section class="checkboxgroup">
    <!--ngModel fehlt-->
    <p class="inputtitle">Zutaten (Pizza)</p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_zutaten_teig" color="primary">Teig (ausgerollt)</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_zutaten_mehr_zutaten" color="primary">Weitere Zutaten nach Absprache
      </mat-checkbox>
    </p>
  </section>

  <section class="checkboxgroup">
    <!--ngModel fehlt-->
    <p class="inputtitle">Beilagen (nur mit Personal)</p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_beilagen_getraenke" color="primary">Getränke</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_beilagen_salat" color="primary">Salat</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_beilagen_dessert" color="primary">Dessert</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="booking.req_beilagen_mehr_beilagen" color="primary">Weitere Beilagen nach Absprache
      </mat-checkbox>
    </p>
  </section>

  <p class="inputtitle">Geschirr/Besteck (Details nach Absprache)</p>
  <mat-slide-toggle color="primary" [(ngModel)]="booking.req_geschirr">
    <span class="formtext" *ngIf="!booking.req_geschirr">Nein</span>
    <span class="formtext" *ngIf="booking.req_geschirr">Ja</span>
  </mat-slide-toggle>

  <p class="inputtitle">Strom und Wasser vorhanden?</p>
  <mat-slide-toggle color="primary" [(ngModel)]="booking.info_strom_wasser">
    <span class="formtext" *ngIf="!booking.info_strom_wasser">Nein</span>
    <span class="formtext" *ngIf="booking.info_strom_wasser">Ja</span>
  </mat-slide-toggle>
  <p class="formtext">
    Falls nein, bitte Veranstaltungsort in den
    Bemerkungen beschreiben!
  </p>

  <mat-form-field class="example-full-width" appearance="fill">

    <mat-label>Bemerkungen/Spezielles</mat-label>
    <textarea [(ngModel)]="booking.info_bemerkungen" matInput type="text" rows="6" placeholder=""></textarea>
  </mat-form-field>
</div>

<!--STEP 3----------------------------------------------------->
<div class="formcolumnwrapper" *ngIf="step==3">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Vorname Nachname</mat-label>
    <input [(ngModel)]="booking.info_name" matInput type="text" placeholder="Vorname Nachname" value="" required minlength="4">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <!--ngModel fehlt-->
    <mat-label>Telefonnummer</mat-label>
    <!-- <mat-icon matSuffix>phone</mat-icon> -->
    <input [(ngModel)]="booking.info_telefon" matInput type="text" placeholder="032 672 00 00" value="" required minlength="10">
    <mat-hint>Private oder geschäftliche Telefonnummer</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <!--ngModel fehlt-->
    <mat-label>E-Mail-Adresse</mat-label>
    <input [(ngModel)]="booking.info_email" matInput type="email" placeholder="m.muster@mail.com" required minlength="8">
    <!-- <input matInput type="text" placeholder="pat@example.com" [formControl]="email" required> -->
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <!--ngModel fehlt-->
    <mat-label>Adresse (Rechnungsadresse)</mat-label>
    <textarea [(ngModel)]="booking.info_adresse_besteller" matInput type="text" rows="4"
      placeholder="Firma/Verein XY, Poststrasse 10, 4500 Dorf" required></textarea>
  </mat-form-field>

</div>

<!--Buttons----------------------------------------------------->
<div class="buttonwrapper">
  <button mat-raised-button color="accent" (click)="previousStep()" *ngIf="step!=1 && step!=4">
    <mat-icon>arrow_back</mat-icon>Vorheriger Schritt
  </button>
  <button mat-raised-button color="primary" (click)="nextStep()" *ngIf="step<=2">
    <mat-icon>arrow_forward</mat-icon>Nächster Schritt
  </button>
  <button mat-raised-button color="primary" (click)="sendForm()" *ngIf="step==3">
    <mat-icon>send</mat-icon>Anfrage abschicken
  </button>
  <button mat-raised-button color="primary" *ngIf="step==4"><a href="http://www.google.com">zurück zur
      Startseite</a></button>
</div>