
// text //////////////////////////////////////////
.inputtitle{
    margin-bottom: 0;
    font-size: 1.1rem;
}

// stepper //////////////////////////////////////////
.stepnr span{
    width: 41px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 800;
    background-color: var(--tomato);
    color: var(--lighttext);
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    //border: 2px solid #666;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.stepnr1::after {
    content: "● ●"; //• ●
    color: var(--tomato);
}
.stepnr1 span::before {
    content: "1";
}
.stepnr2::before { 
    content: "●";
    color: var(--tomato);
}
.stepnr2::after { 
    content: "●";
    color: var(--tomato);
}
.stepnr2 span::before { 
    content: "2";
}
.stepnr3::before { 
    content: "● ●";
    color: var(--tomato);
}
.stepnr3 span::before { 
    content: "3";
}

.formtext{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
}

// material overwrite //////////////////////////////////////////
// disabled calendar data in datepicker
button.disabled-class {
    background: rgb(70, 70, 70);
    border-radius: 100%;
    pointer-events: none;
}

button a {
    color: inherit;
}
button a:hover{
    text-decoration: none;
}

mat-icon{
    margin: 0 10px 3px 0;
}

mat-label{
    font-size: 1rem;
}

.mat-form-field{
    width: 100%;
    margin-bottom: 1.5rem;
}
mat-slide-toggle {
    margin-bottom: 3rem;
}
mat-slide-toggle:has(+ .formtext) { 
    margin-bottom: 1rem; 
}


.mat-input-element{
    font-size: 1.1rem !important;
}

.mat-slider-horizontal{
    width: 100%;
    margin-left: -6px;
}

.inputNextToSlider{
    width: 20%;
    margin: 0 0 0 2%;
}
.inputNextToSlider>div{
    text-align: center;
}
.sliderWithInput{
    width: 78%;
}

.checkboxgroup{
    margin-bottom: 3rem;
    line-height: 1.5;
    page-break-inside: avoid;
}
mat-checkbox{
    font-size: 0.9rem;
}

mat-radio-group{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2;
    page-break-inside: avoid;
}
mat-radio-button{
    font-size: 0.9rem;
}

// about columns - stuff thats important for the responsive part //////////////////////////////////////////
.headline{
    width: 80%;
    max-width: 1000px;
    display: block;
    margin: 3rem auto;
}
.formcolumnwrapper{
    text-align: left;
    width: 80%;
    margin: auto;
}
.buttonwrapper {
    padding: 2rem 0 3rem 0px;
    text-align: center;
}
.buttonwrapper button {
    margin: 0 20px 0 20px;
}


/* Make it responsive *************************************************/
/**********************************************************************/
/**********************************************************************/
@media (min-width: 768px) {

    .headline{
        width: 60%;
        max-width: 1000px;
    }
    .formcolumnwrapper{
        column-count: 2;
        column-gap: 3rem;
        width: 60%;
        max-width: 1000px;
    }

}

